/* Tablet ver. */
@media(min-width : 768px) and (max-width : 1024px) {

    html {
        font-size: 18px;
    }

    nav {
        display: none !important;
    }

    header {
        background: url("../img/intro-background.png") no-repeat left;
        height: 400px;
        padding: 0 0 0 50px;
    }
    
    header div {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    header h1 {
        max-width: 50%;
        margin-bottom: 20px;
    }

    header p {
        margin: 20px 0 0 0;
    }

    header img {
        width: 500px;
    }

    /* Section */
    section {
        padding: 100px 0;
    }

    .overview {
        flex-direction: column;
        align-items: flex-end;
        max-width: 80%;
        padding: 50px 0 0 0;
        position: relative;
    }

    .overview:nth-of-type(2) {
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 0 80px 0;
    }

    .overview:nth-of-type(1) .box-img {
        margin-right: 0;
    }
    
    .overview:nth-of-type(2) .box-img {
        margin-left: 0;
    }
    
    .overview .circle {
        width: 500px;
        height: 500px;
    }

    .overview:nth-of-type(1) .circle {
        left: -300px;
    }

    .overview:nth-of-type(2) .circle {
        right: -300px;
    }

    .overview .box-txt {
        width: 50%;
    }

    #demo h1,
    #review h1 {
        margin-bottom: 50px;
    }

    #demo video {
        width: 80%;
    }

    #review > div {
        max-width: 90%;
        flex-wrap: wrap;
    }

    #review .card {
        width: 300px;
        max-height: 500px;
        min-height: fit-content;
        margin: 0 20px 20px 0;
        padding: 50px 30px;
    }

    #download {
        padding: 20px 0 0 0;
    }

    #download > div {
        width: 100%;
        padding: 50px;
        border-radius: 0;
        box-shadow: 0 -30px 30px #eee;
    }

    #download a {
        font-size: 1.2rem;
    }

}